/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --primary-color-dark: #c4b6a2;
    --primary-color-med: #d6cdc0;
    --primary-color-light: #fdfdfd;

    --accent-color: #fdfbe9;

    --secondary-color-dark: #3a5739;
    --seondary-color-med: #67ba60;
    --secondary-color-light: #7aa376;

    --complementary-color-dark: #910E0E;
    --complementary-color-med: #CC3131;
    --complementary-color-light: #BB6060;


    --text-color-dark: black;
    --text-color-light: var(--primary-color-light);


    --fs-large: 1.5em;
    --fs-med: 1.3em;
    --fs-small: 1em;
    --fs-tiny: .75em;
}

@font-face {
    font-family: kanit;
    src: url(../fonts/Kanit/Kanit-Black.ttf);
    font-weight: bold;
}

@font-face {
    font-family: kanit;
    src: url(../fonts/Kanit/Kanit-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: kanit;
    src: url(../fonts/Kanit/Kanit-ExtraBold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: kanit;
    src: url(../fonts/Kanit/Kanit-ExtraLight.ttf);
    font-weight: auto;
}

@font-face {
    font-family: kanit;
    src: url(../fonts/Kanit/Kanit-Light.ttf);
    font-weight: auto;
}

@font-face {
    font-family: kanit;
    src: url(../fonts/Kanit/Kanit-Medium.ttf);
    font-weight: auto;
}

@font-face {
    font-family: kanit;
    src: url(../fonts/Kanit/Kanit-Regular.ttf);
    font-weight: auto;
}

@font-face {
    font-family: kanit;
    src: url(../fonts/kanit/Kanit-SemiBold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: kanit;
    src: url(../fonts/Kanit/Kanit-Thin.ttf);
    font-weight: auto;
}

body {
    font-family: kanit, sans-serif;
}

#header-container {
    background-color: var(--accent-color);
    height: 2em;
    padding: .5em 10%;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#header-title {
    font-weight: bolder;
    font-size: var(--fs-large);
}

#date-container {
    display: flex;
    gap: .2em;
}

#date-title {
    font-weight: bold;
    font-size: var(--fs-med);
}

#date-content {
    font-weight: normal;
    font-size: var(--fs-med);
}